fastapi>=0.111
uvicorn[standard]>=0.30
sqlalchemy>=2.0
psycopg2-binary>=2.9
pydantic-settings>=2.2
PyJWT>=2.8
bcrypt==5.0.0
alembic==1.18.5

# RAG engine
numpy==1.24.3
pandas>=2.0
openpyxl>=3.1
sentence-transformers>=3.0
torch>=2.6,<2.8
openai>=1.30
hazm>=0.10
